name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: test-${{ matrix.os }}-${{ matrix.deno }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # Test on the oldest supported, the latest stable, and nightly
        deno: [old, stable, canary]
        os: [macOS-latest, windows-latest, ubuntu-20.04-xl]

    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno == 'old' && '1.20.1' || (matrix.deno == 'stable' && '1.x' || matrix.deno) }}

      - run: deno --version

      - name: Format
        if: runner.os == 'Linux' && matrix.deno == 'stable'
        run: deno fmt --check

      - name: Lint
        if: runner.os == 'Linux' && matrix.deno == 'stable'
        run: deno lint

      - name: Typecheck
        run: deno check deployctl.ts

      - name: Run tests
        run: deno task test
